* {
  padding: 0;
  margin: 0;
  font-family: Lora, Montserrat, serif;
  box-sizing: border-box;
  /* border: 12px solid red;   */
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-family: lora, serif;
  background-color: rgba(245, 245, 220, 0.192); 
  color: green;
}

h2 {
  font-family: lora, serif;
  font-weight: 60px;
  font-size: 40px;
}

h3 {
  font-family: lora, serif;
  font-weight: 400;
  font-size: 25px;
}

p {
  font-weight: 400;
  font-family: Lora, serif;
  line-height: 1.5;
}

a {
  color: black;
  text-decoration: none; 
}

.header {
  display: flex;
  flex-direction: row;
   background-color: rgba(245, 245, 220, 0.192); 
  padding: 15x;
}

.header__title {
  justify-content: center;
  text-align: center;
  padding: 15px;
}

.header__nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  /* background-color: rgba(245, 245, 220, 0.192);   */
background-color: beige;
margin-left: auto;
margin-right: auto;
}

 @media (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
     width: 98%;
    background-color:rgba(245, 245, 220, 0.192); 
    padding: 20px;
 
  }

  .header__title {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 15px;
    font-weight: 700;
  font-size: 60px;
  }
  .header__nav {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
 background-color: green;
  font-size: 1.5rem;
  width: 98vh;
   margin-left: auto;
margin-right: auto; 
   }
}


.hero {
  display: flex;
   background-image: url(../assets/fondohero10.jpg);
  background-position: center;
  background-repeat: no-repeat;
   background-size: cover;
  display: none; 
  height: 98vh;
}

.hero__escrito{
color: aqua;
}



.hero {
  display: block;
}

.footercont{
  display: flex;
flex-direction: column;
justify-content: center;
padding: 15px 15px;
background: linear-gradient(to left, white, rgb(158, 158, 94));
margin-top: 15px;
}

.footercont__title{
background: linear-gradient(to left, white, rgb(160, 212, 111));
color: black;
padding: 15x;
margin-left: auto;
margin-right: auto;
}

.footercont__redes {
display: flex;
 justify-content: space-evenly;
  font-size: 3rem;
gap: 20px;
margin: 15px;
padding: 15x;
width: 100%;
height: 50px;
}

.footercont__rededs--ico {
align-items: center;
margin-left: auto;
margin-right: auto;

}

@media (min-width: 768px) {
.footercont{
    display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px 15px;
  background: linear-gradient(to left, white, rgb(158, 158, 94));
}

.footercont__title{
  background: linear-gradient(to left, white, rgb(160, 212, 111));
  color: black;
  padding: 15x;
margin-left: auto;
margin-right: auto;
}

.footercont__redes {
 align-items: center;
    font-size: 3rem;
  gap: 20px;
  margin: 15px;
  padding: 15x;
  width: 100%;
  height: 50px;
}

.footercont__rededs--ico {
  align-items: center;
margin-left: auto;
margin-right: auto;

}
}


.consulta{
  display: flex;
flex-direction: column;
align-items: center;
padding: 15%;
background-color: beige;
}

.boton-consulta {
  background-color: green;
  color: white;
  padding: 20px 20px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}
.boton-consulta:hover {
  border: green 2px solid;
  background-color: white;
  color:black;
  padding: 30px;
}

@media (min-width: 768px) { 
.consulta {
  width: 98vh;
  height: 100%;
  background-color: beige;
  display: flex;
  flex-direction: column;
  align-items: stretch;
margin-left: auto;
margin-right: auto;
padding: 15px;
}

.consulta__titulo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: black;
  width: 50%;
  height: 50%;
  margin: 20px auto;
}
.boton-consulta {
  background-color: green;
  color: white;
  padding: 20px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}
.boton-consulta:hover {
  border: green 2px solid;
  background-color: white;
  color: green;
  padding: 15px 20px;
}
}

.tarjeta__img {
  width: 25px;
  height: 25px;
  display: none;
}

@media (min-width: 810px) {
  .tarjeta__img {
    display: block;
  }
} 

.presentacion
{
  background-color: beige;
  padding: 15px;
}
.presentacion__titulo{
text-align: center;
color: green;
}

.presentacion__texto{
  display: flex;
  justify-content: center;
  padding: 15px;
}

@media (min-width: 768px)
 {
.presentacion {
  width: 98vh;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  background-color: beige;
  padding: 30px;
 margin-left: auto;
 margin-right: auto;
}

.presentacion__titulo {
  color: black;
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.presentacion__texto {
  font-size: 1rem;
  background-color: beige;
}

}


.horarios{
  display: flex;
  justify-content: stretch;
  background-color: green;
}
.horarios__text {
  color: black;
  text-align: center;
}

@media (min-width: 768px)
 {
.horarios {
  display: flex;
width: 98vh;
height: 300px;
  margin-left: auto;
  margin-right: auto;
   padding: 30px;
   background-color:beige;
}


.horarios__text {
text-align: center;
    width: 100%;
  font-size: 3rem;
  color: green;
}
}

.ubicacion {
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: beige;
}

.ubicacion__title {
text-align: center;
 padding: 15px;
  font-size: 2rem;
  color: black;
}

@media (min-width: 768px) {
  .ubicacion {
    background-color: beige;
    display: flex;
    flex-direction: column;
      align-items: center;
    padding: 20px 20px;
  }
  .ubicacion__title {
    color: green;
  }
}


/* .consultorios_contenedor {
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow-x: auto;
  gap: 20px;
}
.consultorios_contenedor .slider-productos {
  display: flex;
}
.consultorios_contenedor tarjeta_img {
  width: 100%;
  height: 200px;
}

.tarjeta {
  background-color: papayawhip;
  border: solid 2px black;
  border-radius: 20px;
  width: 180px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.tarjeta_img {
  width: 100%;
  height: 200px;
}

.tarjeta_title {
  text-align: center;
  padding: 10px;
} */

/* .consultorios{
  display: flex;
  flex-direction: column;
align-items: center;
}

.consultorios__title{
  text-align: center;
}

.consultorios__contenedor {
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow-x: auto;
  gap: 20px;
}
.consultorios__contenedor { 
  display: flex;
  padding: 20px;
  gap: 20px;
  overflow-x: auto;
}
/* .consultorios__contenedor tarjeta_img {
  width: 100%;
  height: 200px;
} */

.tarjetac {
  min-width: 200px;
  height: 400px;
  background-color: papayawhip;
  border: solid 2px black;
  border-radius: 20px;
  padding: 50px;
 
}

.tarjeta__img {
  width: 100%;
  height: 200px;
}

.tarjetac__title {
  text-align: center;
  padding: 10px;
}

.tarjeta__boton {
  background-color: green;
  color: white;
  padding: 15px 20px;
  border-radius: 20px;
}

.tarjeta__boton:hover {
  border: white 2px solid;
  background-color: white;
  color: green;
} */


.consultorios{
  display: flex;
  flex-direction: column;
align-items: center;
}

.consultorios__title{
  text-align: center;
  color: green;
  padding: 30px;
}

.consultorios__contenedor {
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow-x: auto;
  gap: 20px;
}

.tarjetac {
  min-width: 200px;
  height: 400px;
  background-color: papayawhip;
  border: solid 2px black;
  border-radius: 20px;
  padding: 50px;
 
}

.tarjeta__img {
  width: 100%; 
  /* height: 250px; */
}

.tarjetac__title {
  text-align: center;
  padding: 10px;
}

.tarjeta__boton {
  align-items: baseline;
  background-color: green;
  color: white;
  padding: 15px 20px;
  border-radius: 20px;
}

.tarjeta__boton:hover {
  border: white 2px solid;
  background-color: white;
  color: green;
}
@media (min-width: 768px)
{ 
.consultorios{
  display: flex;
  flex-direction: column;
align-items: center;
}

.consultorios__title{
  text-align: center;
  color: green;
  padding: 30px;
}

.consultorios__contenedor {
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow-x: auto;
  gap: 20px;
}

.tarjetac {
  width: 300px;
   height: 400px;
  background-color: papayawhip;
  border: solid 2px black;
  border-radius: 20px;
  padding: 50px;
 
}

.tarjetac__img {
  width: 150px;
  height: 150px; 

}

.tarjetac__title {
  text-align: center;
  padding: 10px;
  color: green;
}

.tarjetac__boton {
  display: flex;
  align-items: center;
  background-color: green;
  color: white;
  padding: 15px 20px;
  border-radius: 20px;
}

.tarjeta__boton:hover {
  border: white 2px solid;
  background-color: white;
  color: green;
}

}

.plantel{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
 border: 2px solid black;
color: black;
  background-color: beige;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.plantel__titulo {

color:green;
padding: 20px;
}

.plantel_boton {
text-align: end;
}


@media (min-width: 768px)
{
  .plantel{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
   border: 2px solid black;
    width: 550px;
color: black;
    background-color: beige;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

.plantel__titulo {

color:green;
  padding: 20px;
}

.plantel_boton {
  text-align: end;
}
}


.cv{
  background-color: aqua;
}

.cv_title{
  color: yellow;
}

@media (min-width: 768px)
{
  .cv{
    background-color: aqua;
  }
  
  .cv_title{
    color: yellow;
  }
}

/* .main-quienessomos{
  background-color: orange;

  grid-area: main;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 25vw);
  grid-template-areas:
    "plantel cv"
    "plantel2 cv"
    "plantel3 cv"
    ;

  gap: 10px;
} */



.servicioscomp{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: beige;
}

.servicioscomp h2{
  color: green;
 font-size: 2rem;

}

.servicios_title{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.tarjetaservicio {
  min-width: 200px;
  height: 400px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 15px 15px;
}

.servicios__titulo {
  color: black;
  width: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.tarjetaservicio__img {
  width: 100%;
  height: 300px; 
}

.tarjetaservicio__boton {
  background-color: green;
  color: white;
  padding: 15px 20px;
  border-radius: 20px;
}

.tarjetaservicio__boton:hover {
  border: green 2px solid;
  background-color: white;
  color: green;
}

.slider__servicios {
  display: flex;
  padding: 20px;
  gap: 20px;
  overflow-x: auto;
}

@media (min-width: 768px) {

.servicioscomp{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: beige;
}

.slider__servicios{
  align-items: center;
  width: 85%;
}

.tarjetaservicio {
  min-width: 200px;
  height: 400px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 15px 15px;
}

.servicios__titulo {
  color: black;
  width: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.tarjetaservicio__img {
  width: 100%;
  height: 300px; 
}

.tarjetaservicio__boton {
  background-color: green;
  color: white;
  padding: 15px 20px;
  border-radius: 20px;
}

.tarjetaservicio__boton:hover {
  border:green 2px solid;
  background-color: white;
  color: green;
}

.slider__servicios {
  display: flex;
  padding: 20px;
  gap: 20px;
  overflow-x: auto;
}
}

.encabezado__formulario{
  background-color: beige;
text-align: center;
}
.speaker-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: linear-gradient(to left, white, rgb(218, 218, 172));
  border: 1px solid black;
  border-radius: 3px;

  width: 80%;
  padding: 50px;
  /* margin: 0 0 40px 0; */
  margin-left: auto;
  margin-right: auto;
}

.form-row {
   margin-bottom: 40px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.form-row input[type='texto' ],
.form-row input[type='email'] {
background-color: linear-gradient(to left, white, rgb(218, 218, 172));
border: 1px solid black;
border-radius: 3px;
width: 100%;
padding: 7px;
font-size: 14px;
}

.form-row label {
 margin-bottom: 15px;
  background-color: linear-gradient(to left, beige, rgb(218, 218, 172));
}

.form-row textarea{
  align-items: center;
  width: 98%;
  font-size: 14px;
  border: 1px solid;
  border-radius: 3px;

  min-height: 200px;
  margin-bottom: 10px;
  padding: 7px;
  resize: none;
}

.form-row .instructions {
  color: darkgreen;
  font-size: 14px;
  margin-bottom: 30px;
}

.form-button {
  font-size: 16px;
  font-weight: bold;
  color: blueviolet;

  border: none;
  border-radius: 3px;

  padding: 10px 40px;
  cursor: pointer;
}

.form-button:hover {
  background-color: beige;
}

.form-row button:active {
  background-color: green;
}
@media (min-width: 768px) {

.speaker-form {
  display: flex;
  flex-direction: column;
  align-items: center;
    border: 1px solid black;
  border-radius: 3px;

  width: 80%;
  padding: 50px;
   margin-left: auto;
  margin-right: auto;
  background-color: beige;
}

.form-row {
   margin-bottom: 40px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: beige;
  font-size: 1.5rem;
  text-align: center;
}

.form-row input[type='texto' ],
.form-row input[type='email'] {
background-color: linear-gradient(to left, white, rgb(218, 218, 172));
border: 1px solid black;
border-radius: 3px;
width: 100%;
padding: 7px;
font-size: 14px;
}

.form-row label {
 margin-bottom: 15px;
  background-color: linear-gradient(to left, beige, rgb(218, 218, 172));
}

.form-row textarea{
  font-size: 14px;

  border: 1px solid;
  border-radius: 3px;

  min-height: 200px;
  margin-bottom: 10px;
  padding: 7px;
  resize: none;
}

.legacy-form-row{
  text-align: center;
  background-color: beige;
padding: 20px;
}

.form-row .instructions {
  color: darkgreen;
  font-size: 14px;
  margin-bottom: 30px;
}

.form-button {
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
   background-color: beige;
  border: none; 
  border-radius: 3px;

  padding: 10px 40px;
  cursor: pointer;
}

.form-button:hover {
  background-color: beige;
}

.form-row button:active {
  background-color: green;
}
}

/*# sourceMappingURL=styles.css.map */
