*{
    padding: 0;
    margin: 0;
    font-family: Lora, Montserrat, serif;
    box-sizing: border-box;
    /* border: 2px solid;  */
}

ul,
ol{
    list-style: none;
}

a{
    text-decoration: none;
}

/* body{
    background-color: aqua;

} */

h1{
    font-family: lora, serif;
    font-weight: 700;
    font-size: 60px;
    background-color: beige;
    color: green;
    /* 
    background-image: url(../assets/fondo.jpg); */
    text-align: center;
}

h2{
    font-family: lora, serif;
    font-weight: 60px;
    font-size: 40px;

    /* text-align: center; */
}

h3{
    font-family: lora, serif;
    font-weight: 400;
    font-size: 25px;

    /* text-align: center; */
}

p{
    font-weight: 400;
font-family: Lora, serif ;
line-height: 1.5;
}

a{
    color: black;
}

/* -----header ---*/

.header {
    background-color: beige;
    padding: 15x;
     /* position: absolute;
    width: 100vw;  */
}

.header__title{
    text-align: center;
    padding: 15px;

}

.header__nav{
    background-color: beige;
    display: flex;
    justify-content: space-around;
    }

    @media (max-width: 768px){
        .header{
            background-color: beige;
            justify-content: left;
            display: block;
            flex-direction: row;
            align-items: center; 
        }
        .header__nav{
            color: black;
        }

    }

    /* hero-----section */

.hero{
    height: 96vh;
    height: 500px;
        background-image: url(../assets/fondohero10.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
         display: flex;
        justify-content:center;
        align-items: center; 
        display: none;
}

.hero__texto{
    width: 25%;
    height: 25%;
        color: beige;
        text-align: center;
        background-color: green;
        padding: 30px;
        border-radius: 20px;
}

.hero__texto h2{
    width: 25%;
    height: 25%;
text-align: center;
}



@media (min-width:810px){
    .hero{
        display: block;
    }
}





   /* -------seccion consultorios */
/* 
   .consultorios{
    grid-area: productos;
}
 */
.consultorios_title{
    background: linear-gradient(to left, white,rgb(158, 158, 94));
text-align: center;
padding: 14px;
}

.slider-productos{
    display: flex;
}


.consultorios_contenedor{
padding: 10px;

display: flex;
overflow-x: auto;
gap: 20px;

}

.tarjeta{
background-color:papayawhip;
border: solid 2px black;
border-radius: 20px;
width: 180px;
padding: 50px;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
}

.tarjeta_img{
    width: 100%;
    height: 200px;
}

.tarjeta_title{
text-align: center;
padding: 10px;
}

.tarjeta_boton{
padding: 13px 8px;
border: 2px solid black;
background-color: white;
color: black;
text-align: center;
border-radius: 20px;
}

/* ----consult2 */
.consultorios2_title{
    background: linear-gradient(to left, white,rgb(158, 158, 94));
    text-align: center;
    padding: 14px;
    }
    
    .slider-productos{
        display: flex;
    }
    
    
    .consultorios2_contenedor{
    padding: 10px;
    
    display: flex;
    overflow-x: auto;
    gap: 20px;
    
    }
    
    .tarjetac2{
        /* background: linear-gradient(to left, yellow, beige ); */
     background-color:papayawhip; 
    border: solid 2px black;
    border-radius: 20px;
    width: 180px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    }
    
    .tarjetac2_img{
        width: 100%;
        height: 200px;
    }
    
    .tarjetac2_title{
    text-align: center;
    padding: 10px;
    }
    
    .tarjetac2_boton{
    padding: 13px 8px;
    border: 2px solid black;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 20px;
        }
/* 
        @media(min-width 768px){
            .consultorios2_title {
                background-color: aliceblue;
                display: grid;
                grid-template-columns: repeat(2,45%);
                grid-template-rows: 50vh repeat(2.45vh); 
            }
        } */
    /* .slider-consultorios_contenedor{ 
        display: flex;
        padding: 20px;
        gap: 20px;
            overflow-x: auto;
    }*/

/* ----seccion plantel/quienes somos */

.plantel_titulo{
 
    background-color: blueviolet;
    padding: 20px;
    text-align: center;

}

.plantel{

    border: 2px solid black;
    width: 550px;

    display: flex;
}

.plantel_contenedor{
    display: flex;
    flex-direction: column;
}

.plantel_boton{
    text-align: end;
}
/*  
@media (min-width 768px){
    .plantel_titulo{
        display: grid;
        grid-template-columns: repeat(2,45%);
    }
}
*/
/* caja 2 misma html */

.plantel2_titulo{
    background-color: blueviolet;
    padding: 20px;
    text-align: center;

}

.plantel2{
    border: 2px solid black;
    width: 550px;

    display: flex;
}

.plantel2_contenedor{
    display: flex;
    flex-direction: column;
}

.plantel2_boton{
    text-align: end;
}

/* @media(min-width 768px){
    .plantel2{
        background-color: aliceblue;
        display: grid;
        grid-template-columns: repeat(2,45%);
        grid-template-rows: 50vh repeat(2.45vh);
    }
} */


/* seccion------servicios */

.tarjetaservicio{
min-width: 300px;
 height: 350px;
    border: 2px solid black; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 15px 15px;
}

.servicios__titulo{
    color: black;
    width: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    }

.tarjetaservicio__img{
    width: 100%;
    height: 200px;
}

.tarjetaservicio__boton{
    background-color: blueviolet;
    color: white;
    padding: 15px 20px;
    border-radius: 20px;
}

.tarjetaservicio__boton:hover{
    border: blueviolet 2px solid;
    background-color: white;
    color: blueviolet;
}



    .slider__servicios{
        display: flex;
        padding: 20px;
        gap: 20px;
            overflow-x: auto;
    }

/* ---------contacto------- */

.contenedor_contac{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.cajacons{
    width: 200px;
    height: 200px;
    background: linear-gradient(to left, white, beige );
    border: solid 2px black;
    font-size: 3rem;
}

@media (min-width:480px){
    .cajacons{
        background:linear-gradient( to right, beige white); 
        width: 90%;
    }
}



      /* -----consulta en e index */

      .consulta{

        background-color: beige; 
        border: 2px solid black;
        display: flex;
/* flex-direction: column;
justify-content: center;
align-items: center; */

      }

.consulta__titulo{
    justify-content: center;
    color: black;
     width: 50%;
     height: 50%;
     margin: 20px auto; 
    display: flex; 
    flex-direction: column; 
}
.tarjeta__img{
    width: 25px;
    height: 25px;
    display: none;
}

.tarjeta__texto{
    color: green;
}

.boton-consulta{
    background-color: blueviolet;
    color: white;
    padding: 15px 20px;
    border-radius: 20px;
}

.boton-consulta:hover{
    border: blueviolet 2px solid;
    background-color: white;
    color: blueviolet;
    padding: 15px 20px;
}

@media(min-width:810px){
    .tarjeta__img{ display: block;
    }
}


/* -------presentación----- */
.presentacion{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
        background-color: beige; 
        border: 12px solid black;
padding: 15px;
display: none;
  }

.presentacion__titulo{
/* width: 3rem;
display: flex;
flex-direction: row;
justify-content: center;
text-align: center; */
     color: black;
width: 3rem;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
display: none; 
 }

 .presentacion__texto{
    /* justify-content: center; */
        background-color: beige;
 }

@media(min-width: 810px){
    .presentacion{
        display: block;}
}

/* ---------horarios--------------- */

.horarios{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    display: none; 

}

.horarios__text{
    background-color: beige;
      color: green;
}

@media(min-width: 810px){
    .horarios{
        display: block;}
}



/* --------ubicación--------- */
.ubicacion{
    background-color: beige;
    border: 2px solid black;
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 15px 15px;
}

.ubicacion__title{
color: black;

display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
}

.ubicación__tarjeta{
/* width: 300px;
height: 300px; */
}

@media(min-width: 810px){
     .ubicacion{
    background-color: beige;
    border: 2px solid black;
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 15px 15px;
    }

       .ubicacion__title{
        color: green;
    }
}  




      /* ------footer------- */
      .footer{
        background: linear-gradient(to left, white,rgb(158, 158, 94));
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 15px 15px;
      }
      .redes{
        background: linear-gradient(to left, white,rgb(158, 158, 94));
        color: green;
        padding: 15x;
align-items: flex-start;
justify-content: center;

      }

      .redes__title{
align-items: flex-end;
        justify-content:first baseline;
        gap: 20px;
        margin: 15px;
        padding: 15x;}

      .bi-whatsapp{
          padding: 15px;
        width: 30vw;
        height: 5vh;
      }

      .bi-instagram{
        padding: 15px;
       width: 30vw;
      height: 5vh;
      }

      .bi-facebook{
        padding: 15px;
      width: 30vw;
      height: 5vh;
        
      }

.novedades{
    background-color: red;
}
.eventos{
    background-color: green;
}