.plantel_titulo{
 
    background-color: blueviolet;
    padding: 20px;
    text-align: center;

}

.plantel{

    border: 2px solid black;
    width: 550px;

    display: flex;
}

.plantel_contenedor{
    display: flex;
    flex-direction: column;
}

.plantel_boton{
    text-align: end;
}

/* caja 2 misma html */

.plantel2_titulo{
    background-color: blueviolet;
    padding: 20px;
    text-align: center;

}

.plantel2{
    border: 2px solid black;
    width: 550px;

    display: flex;
}

.plantel2_contenedor{
    display: flex;
    flex-direction: column;
}

.plantel2_boton{
    text-align: end;
}

.plantel3_titulo{
    background-color: blueviolet;
    padding: 20px;
    text-align: center;

}

.plantel3{
    border: 2px solid black;
    width: 550px;

    display: flex;
}

.plantel3_contenedor{
    display: flex;
    flex-direction: column;
}

.plantel3_boton{
    text-align: end;
}