/* -----header ---*/

.header {
    background-color: beige;
    padding: 15x;
}

.header__title{
    text-align: center;
    padding: 15px;

}

.header__nav{
    background-color: beige;
    display: flex;
    justify-content: space-around;
    }

    @media (max-width: 768px){
        .header{
            background-color: beige;
            justify-content: left;
            display: block;
            flex-direction: row;
            align-items: center; 
        }
        .header__nav{
            color: black;
        }


    }

