.hero{
    height: 96vh;
    height: 500px;
        background-image: url(../assets/fondohero10.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
         display: flex;
        justify-content:center;
        align-items: center; 
        display: none;
&__hero__texto{
    width: 25%;
    height: 25%;
        color: beige;
        text-align: center;
        background-color: green;
        padding: 30px;
        border-radius: 20px;
&__hero__texto h2{
    width: 25%;
    height: 25%;
text-align: center;}
}
}


